.simple-game-card {
    aspect-ratio: 3/4;
    max-width: 264px;
    max-height: 374px;

    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: flex-end;

    border-radius: 0.625rem;
    box-shadow: 
        rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    
    transition: 1s ease-in-out;
}

.simple-game-card:hover .simple-game-card-content {
    opacity: 0;
}

.simple-game-card:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-10px);
}

.simple-game-card-content {
    border-radius: 0 0 0.625rem 0.625rem;
    backdrop-filter: blur(1px);

    width: 100%;

    padding: 5px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -90px 36px -28px inset;
    transition: 0.5s ease-in-out all;
}

.simple-game-card-content span {
    font-size: small;
    color: #ffffffad;
    text-shadow: -3px 1px 16px white;
}

.simple-game-card-content p {
    font-size: small;
    text-align: left;
    line-height: 1.5;
    text-shadow: 0px 0px 4px black;
}

.simple-game-card-content a {
    color: white;
    text-decoration: none;
}

.simple-game-card-content strong {
    font-size: large;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-weight: 600;
}

.loading-card {
    animation: fadeIn 0.5s cubic-bezier(0, 0.05, 0, 0.37) infinite;
    animation-direction: alternate-reverse;
}

@keyframes fadeIn {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
}

